{% extends "layout.html" %}

{% block body_content %}

<h1>Update class details here:</h1>

<div class='form'>
        <form method='POST' action=''>
            {{ form.hidden_tag() }}
                <div class='form_group'>            
                    {{ form.class_name.label }}
                    {{ form.class_name }}
            <br>
            <br>
            </div>
                <div class='form_group'>    
                    {{ form.age_range.label }}
                    {{ form.age_range }}
            
           <br>
           <br>
           </div>
                <div class='form_group'>    
                    {{ form.room_number.label }}
                    {{ form.room_number }}
            
            <br>
            <br>
            <br>
            </div>
            </div>
            </div>
            <br>
     <form action="{{ url_for('class_update') }}">
     <button type="submit">Update class</button>
     </form>
            
{% endblock %}
