

{% extends "layout.html" %}



{% block body_content %}


<title>Change staff information here</title>


{% for staff in staff %}
	<div>
	<p>{{ staff.first_name }}</p>	<p>{{ staff.last_name }}<p> <p>{{ staff.email }}</p> <p>{{ staff.DBS_status }}<p>


        <form action="{{ url_for('staff_update', staff_id=staff.id) }}">
        <button type="submit">Update details</button>
        </form>

        <form action="{{ url_for('staff_delete', staff_id=staff.id) }}">
        <button type="submit">Delete staff member</button>
	</form>




{% endfor %}






{% endblock %}

