

{% extends "layout.html" %}



{% block body_content %}


<title>School Staff Members</title>


{% for staff in staff %}
	<div>
		<p>{{ staff.first_name }}</h3>	<h3>{{ staff.last_name }}</h3> <h3>{{ staff.email }}</h3> <h3>{{ staff.DBS_status }}<p>


        <form action="{{ url_for('staff_update', last_name=staff.last_name) }}">
        <button type="submit">Update details</button>
        </form>

        <form action="{{ url_for('staff_delete', last_name=staff.last_name) }}">
        <button type="submit">Delete staff member</button>
	</form>




{% endfor %}






{% endblock %}

