{% extends "layout.html" %}
{% block body_content %}

<h1>Staff Register</h1>
<h1>Create, update or delete staff register information:</h1>

<h2>To add a new staff member enter details here:</h2>
	<div class='form'>
        <form method='POST' action=''>
    
	{{ form.hidden_tag() }}

	<div class='form_group'>

            {{ form.first_name.label }}
            {{ form.first_name }}
            
	    <br>
	    <br>
	<div class='form_group'>
            {{ form.last_name.label }}
            {{ form.last_name }}
            <br>
	    <br>
	<div class='form_group'>
            {{ form.email.label }}
            {{ form.email }}
            <br>
	    <br>
	<div class='form_group'>    
	    {{ form.DBS_status.label }}
	    {{ form.DBS_status }}
            <br>
	    <br>
	    <br>

            {{ form.submit }}
 	</form>
	</div>
{% endblock %}


