{% extends "layout.html" %}
{% block body_content %}




<h2>Add new staff members:</h2>

	<br>
        <br>
	<div class='form'>
        <form method='POST' action=''>
    
	{{ form.hidden_tag() }}

	<div class='form_group'>

            {{ form.first_name.label }}
            {{ form.first_name }}
            
	    <br>
	    <br>
	<div class='form_group'>
            {{ form.last_name.label }}
            {{ form.last_name }}
            <br>
	    <br>
	<div class='form_group'>
            {{ form.email.label }}
            {{ form.email }}
            <br>
	    <br>
	<div class='form_group'>    
	    {{ form.DBS_status.label }}
	    {{ form.DBS_status }}
            <br>
	    <br>
	    <br>

            {{ form.submit }}
 	</form>
	</div>
{% endblock %}


